<body>
  <div
    class="flex h-screen bg-gray-50 dark:bg-gray-900"
    :class="{ 'overflow-hidden': isSideMenuOpen }"
  >
    <div class="flex flex-col flex-1 w-full">
      <main class="h-full overflow-y-auto">
        <div class="flex">
          <!-- Sidebar -->
          <aside class="w-64 bg-white dark:bg-gray-800 shadow-md h-screen">
            <div
              class="py-4 text-gray-500 dark:text-gray-400 h-full flex flex-col justify-between"
            >
              <ul class="mt-6">
                <li class="relative px-6 py-3">
                  <a
                    href="/"
                    class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                  >
                    <svg
                      class="w-5 h-5"
                      aria-hidden="true"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 19l-7-7 7-7"
                      ></path>
                    </svg>
                    <span class="ml-4">{{t "more.navigator.back"}}</span>
                  </a>
                </li>
                <div class="relative px-6 py-3">
                  <button
                    onclick='changeTo("Faculty")'
                    class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                  >
                    <svg
                      class="w-5 h-5"
                      aria-hidden="true"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 4l8 4-8 4-8-4 8-4zM4 8v4c0 4 4 6 8 6s8-2 8-6V8"
                      ></path>
                    </svg>
                    <span class="ml-4">{{t "more.navigator.faculty"}}</span>
                  </button>
                </div>
                <div class="relative px-6 py-3">
                  <button
                    onclick='changeTo("Status")'
                    class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                  >
                    <svg
                      class="w-5 h-5"
                      aria-hidden="true"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle
                        cx="12"
                        cy="12"
                        r="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></circle>
                      <path
                        d="M9 12l2 2 4-4"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                    <span class="ml-4">{{t "more.navigator.status"}}</span>
                  </button>
                </div>
                <div class="relative px-6 py-3">
                  <button
                    onclick='changeTo("Course")'
                    class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                  >
                    <svg
                      class="w-5 h-5"
                      aria-hidden="true"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        x="3"
                        y="4"
                        width="18"
                        height="16"
                        rx="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></rect>
                      <path
                        d="M16 2v4M8 2v4M3 10h18"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                    <span class="ml-4">{{t "more.navigator.course"}}</span>
                  </button>
                </div>
                <div class="relative px-6 py-3">
                  <button
                    onclick='changeTo("Module")'
                    class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-6 h-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 20H6a2 2 0 01-2-2V6a2 2 0 012-2h6m0 0h6a2 2 0 012 2v12a2 2 0 01-2 2h-6m0-16v16"
                      />
                    </svg>
                    <span class="ml-4">Khóa học</span>
                  </button>
                </div>
              </ul>
            </div>
          </aside>
          <!-- Main Content -->
          <div class="flex-1">
            <!-- Faculty table -->
            <div
              id="faculty_div"
              class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800 mt-6 mx-6"
            >
              <h2
                class="text-lg font-semibold text-gray-700 dark:text-gray-200"
              >{{t "more.faculty.title"}}</h2>
              <table
                class="min-w-full mt-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700"
              >
                <thead class>
                  <tr>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >ID</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >{{t "more.faculty.name_col"}}</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >{{t "more.action"}}</th>
                  </tr>
                </thead>
                <tbody
                  id="faculty-table-body"
                  class="text-gray-600 dark:text-gray-400"
                >
                  {{#each faculties}}
                    <tr>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.faculty_id}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.name}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >
                        <button
                          class="px-2 py-1 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                          onclick='editMore({{this.faculty_id}}, "Faculty")'
                        >
                          {{t "more.faculty.edit_button"}}
                        </button>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="flex justify-end px-4 pt-4 pb-2 mt-4">
                <button
                  class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                  onclick='addMore("Faculty")'
                >{{t "more.faculty.add_button"}}</button>
              </div>

            </div>

            <!-- Status table -->
            <div
              id="status_div"
              class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800 mt-6 mx-6 hidden"
            >
              <h2
                class="text-lg font-semibold text-gray-700 dark:text-gray-200"
              >{{t "more.status.title"}}</h2>
              <table
                class="min-w-full mt-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700"
              >
                <thead>
                  <tr>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >ID</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >{{t "more.status.name_col"}}</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >{{t "more.action"}}</th>
                  </tr>
                </thead>
                <tbody
                  id="status-table-body"
                  class="text-gray-600 dark:text-gray-400"
                >
                  {{#each statuses}}
                    <tr>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.status_id}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.name}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >
                        <button
                          class="px-2 py-1 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                          onclick='editMore({{this.status_id}}, "Status")'
                        >
                          {{t "more.status.edit_button"}}
                        </button>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="flex justify-end pt-4 mt-4">
                <button
                  class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                  onclick='addMore("Status")'
                >{{t "more.status.add_button"}}</button>
              </div>

            </div>

            <!-- Course table -->
            <div
              id="course_div"
              class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800 mt-6 mx-6 hidden"
            >
              <h2
                class="text-lg font-semibold text-gray-700 dark:text-gray-200"
              >Thông tin niên khóa</h2>
              <table
                class="min-w-full mt-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700"
              >
                <thead>
                  <tr>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >ID</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >Tên niên khóa</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >Hành động</th>
                  </tr>
                </thead>
                <tbody
                  id="course-table-body"
                  class="text-gray-600 dark:text-gray-400"
                >
                  {{#each courses}}
                    <tr>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.course_id}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.course_name}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >
                        <button
                          class="px-2 py-1 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                          onclick='editMore({{this.course_id}}, "Course")'
                        >
                          Chỉnh sửa
                        </button>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="flex justify-end pt-4 mt-4">
                <button
                  class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                  onclick='addMore("course")'
                >Thêm Khóa</button>
              </div>
            </div>

            <!-- Module table -->
            <div
              id="module_div"
              class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800 mt-6 mx-6 hidden"
            >
              <h2
                class="text-lg font-semibold text-gray-700 dark:text-gray-200"
              >Thông tin Khóa học</h2>
              <table
                class="min-w-full mt-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700"
              >
                <thead>
                  <tr>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >ID</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >Mã khóa học</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >Tên khóa học</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >Số tín chỉ</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >Khoa phụ trách</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >Môn tiên quyết</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >Tình trạng</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >Mô tả</th>
                    <th
                      class="px-4 py-2 text-left text-gray-600 dark:text-gray-400"
                    >Hành động</th>

                  </tr>
                </thead>
                <tbody
                  id="module-table-body"
                  class="text-gray-600 dark:text-gray-400"
                >
                  {{#each modules}}
                    <tr>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.module_id}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.module_code}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.module_name}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.credits}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.faculty.name}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >
                        {{prerequisiteDisplay this.prerequisite}}
                      </td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >
                        <span class="{{isActiveClass this.is_active}}">
                          {{isActiveText this.is_active}}
                        </span>
                      </td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >{{this.description}}</td>
                      <td
                        class="px-4 py-2 border-t border-gray-200 dark:border-gray-700"
                      >
                        <button
                          class="px-2 py-1 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                          onclick="editModule({{this.module_id}})"
                        >
                          Chỉnh sửa
                        </button>
                        {{#ifEqual this.is_active true}}
                          <button
                            class="px-2 py-1 text-sm font-medium text-white bg-red-600 rounded hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
                            onclick="deleteModule({{this.module_id}})"
                          >
                            Ngừng hoạt động
                          </button>
                        {{/ifEqual}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="flex justify-end pt-4 mt-4">
                <button
                  class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                  onclick="addModule()"
                >Thêm Khóa học</button>
              </div>

            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <script>
    const facultyDiv = document.getElementById("faculty_div"); const statusDiv =
    document.getElementById("status_div"); const courseDiv =
    document.getElementById("course_div"); const moduleDiv =
    document.getElementById("module_div"); function changeTo(name) {
    facultyDiv.classList.add("hidden"); statusDiv.classList.add("hidden");
    courseDiv.classList.add("hidden"); moduleDiv.classList.add("hidden"); switch
    (name) { case "Faculty": facultyDiv.classList.remove("hidden"); break; case
    "Status": statusDiv.classList.remove("hidden"); break; case "Course":
    courseDiv.classList.remove("hidden"); break; default:
    moduleDiv.classList.remove("hidden"); } }
  </script>
  <script src="./assets/scripts/more/edit_module.js"></script>
  <script src="./assets/scripts/more/delete_module.js"></script>
  <script src="./assets/scripts/more/add_module.js"></script>
  <script src="./assets/scripts/more/edit_more.js"></script>
  <script src="./assets/scripts/more/add_more.js"></script>

</body>